# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: Build

# Trigger the action on push to master
on:
  workflow_dispatch:
  workflow_call:
  push:
    branches:
      - master       # Run for pushes to master
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup build environment
        id: build-env
        uses: resonite-modding-group/setup-resonite-env-action@v0.2
        with:
          steam-user: ${{ secrets.STEAMUSER }}
          steam-password: ${{ secrets.STEAMPASS }}
      - name: Setup RML
        shell: bash
        run: |
          mkdir -p "${{ steps.build-env.outputs.resonite-path }}/rml_libs"
          curl -fsSL -o "${{ steps.build-env.outputs.libraries-path }}/ResoniteModLoader.dll" "https://github.com/resonite-modding-group/ResoniteModLoader/releases/latest/download/ResoniteModLoader.dll"
          curl -fsSL -o "${{ steps.build-env.outputs.resonite-path }}/rml_libs/0Harmony.dll" "https://github.com/resonite-modding-group/ResoniteModLoader/releases/latest/download/0Harmony.dll"

      - name: Restore
        run: dotnet restore

      - name: Build
        run: dotnet build -c Release

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ArrayEditing
          path: |
            **/bin/Release/net10.0/ArrayEditing.dll

      - name: Download artifact for release
        uses: actions/download-artifact@v4
        with:
          name: ArrayEditing
          path: release-files

      - name: Create Draft Release
        uses: softprops/action-gh-release@v2
        with:
          draft: true
          files: release-files/**
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
